.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00FFD1;
  margin: 10px 400px 10px 400px;
  border-radius: 20px;
}

.List-Box {
  border: 2px solid;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 10px;
  background-color: #FFFF00;
  min-height: 100px;
}

.List {
  background-color: #31C6D4;
  padding: 10px;
  border-radius: 25px;


}

.Delete {
  background-color: #FF1E1E;
  border: none;
  padding: 5px;
  border-radius: 25px;
  color: white;
  position: relative;
}

.Delete:hover {
  background-color: #F96666;
}